body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border:  2px solid #abababa0;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #006fff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0060ee;
}

.card {
    background: linear-gradient(180deg, #006fff, #fff);
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.weatherEmoji {
    margin-bottom: 25px;
    font-size: 5rem;
}

.errorDisplay {
    font-size: 1.5rem;
    font-weight: bold;
}